db.sqlite3
lmnop_credentials.json

# python-related
__pycache__
*.pyc

# ignore editor-specific files 
.vscode
.idea

# ignore virtual enviroments 
venv
env
.env


cloud_sql_proxy
.gcloudignore
final-lmnop-credentials.json