{% extends 'lmn/base.html' %}
{% block content %}
<div class="card bg-dark">
  <div class="card-header"  style="background-color: #272c30;">
    <h2>Artist List</h2>

    
      <form action="{% url 'artist_list' %}" class="form-inline float-sm-right">
        {{ form.search_name }}
        <!-- <input type='submit' value='Search'> -->
        <button type="submit" class="btn btn-info">Search</button>

      </form>

    <div class="text-center">
      {% if search_term %}
        <h3 id='artist-list-title'>Artists matching '{{ search_term }}' 
          <a href="{% url 'artist_list' %}" id='clear_search'>clear</a>
        </h3>
      {% else %}
        <h3 id='artist-list-title'>All artists</h3>
      {% endif %}
    </div>
  </div>  
  {% for artist in artists %}

    <div  id="artist_{{ artist.pk }}" class="card bg-dark">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #343A40;">
         
          <h4><a href="{% url 'artist_detail' artist_pk=artist.pk %}">{{ artist.name }}</a></h4>
          
          
          <p>See venues played, notes, and add your own 
            <a href="{% url 'venues_for_artist' artist_pk=artist.pk %}">{{ artist.name }} notes</a>
          </p>
        </li>
      </ul> 
    </div>





  {% empty %}
  <div class="card text-center" style="background-color: #403434;" > 
    <h2>No artists found</h2>
    </div>
  {% endfor %}
</div>
{% endblock %}
