body {
  font-family: monospace;
  background: #444d4d;
  color: white;
  background-image: url(img/amps2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;

}

img{
  width:100%;
  max-width:600px;
}

a {
  color: rgb(70, 193, 197);
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.error {
  background-color: #b73f08;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;

}

.badge{
  width:50px;
  text-anchor: inherit;
}

.user-image{
  width:100%;
  max-width:600px;
}

#home {
  text-align: center;
}
#content {
  padding: 30;
  
}


/* Nav bar */

#nav-div {

  background-color: black;
  
  
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 66px;
  line-height: 66px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}


.nav a{
  color: white !important;
  font-size: 1.8em !important;
  }


#brand-image {
  height: 50px;
  width: auto;
  margin: 2%;
}

.container {
  background-color: black;
}

p {
  font-size: 16px;
}

.note-text {
  margin-left: 10px;
}