body {
  font-family: monospace;
  background: #444d4d;
  color: white;
  /* padding: 20px; */
  background-image: url(img/amps2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;

}

a {
  color: rgb(70, 193, 197);
}

#welcome-user-msg, #login-or-sign-up {
  position: absolute;
  right: 0px;
  padding-right: 10px;
}

.error {
  background-color: #b73f08;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  /* font-weight: bold; */
}

#home {
  text-align: center;
}
#content {
  padding: 30;
  
}


/* Nav bar */

#nav-div {

  background-color: black;
  
  
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 66px;
  line-height: 66px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* @media (min-width: 768px) {
  .navbar-nav > li > a {
    (80px - line-height of 27px) / 2 = 26.5px
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
} */

.container {
  background-color: black;
}

p {
  font-size: 16px;
}
