{% extends 'lmn/base.html' %}

{% block content %}

<h2>Add List</h2>

<h3>Search Notes</h3>

<form method="GET" action="{% url 'add_list' %}">
    {{ search_form }}
    <button type="submit">Search</button>
</form>

<a href="{% url 'add_list' %}">
    <button>Clear Search</button>
</a>

<h3>{{ notes|length }} note{{videos|length|pluralize}}</h3> 


{% for note in notes %}

    <div>
        <h3>{{ note.title}}</h3>
        <p>{{ note.text}}</p>
        <p>{{ note.notes}}</p>

    </div>

{% empty %}

    <p>No notes</p> 
{% endfor%}

{% endblock %}