{% extends 'lmn/base.html' %}
{% load static %}
{% block content %}



<div class="card bg-dark" id="venue-list">
  <div class="card-header" style="background-color: #272c30;">
    <h2>Venue List</h2>

    <form action="{% url 'venue_list' %}" class="form-inline float-sm-right">
      {{ form.search_name }}
      <!-- <input type='submit' value='Search'/> -->
      <button type="submit" class="btn btn-info">Search</button>
    </form>

    <div class="text-center">
      {% if search_term %}
        <h4 id="venue_list_title">Venues matching '{{ search_term }}'  
          <a href="{% url 'venue_list' %}" id='clear_search'>clear</a>
        </h4>
      {% else %}
        <h3 id="venue_list_title">All venues</h3>
      {% endif %}
    </div>
  </div>
 
  <div>

    {% for venue in venues %}

    <div  id="venue-{{ venue.pk }}" class="card" style="background-color: #343A40;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #343a40;">
          <h4> <a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a> {{ venue.city }}, {{ venue.state }}</h4>
          <p>See artists, notes, and add your own <a href='{% url "artists_at_venue" venue_pk=venue.pk %}'>{{ venue.name }} notes</a></p>

        </li>
      </ul> 
   
   
   
    </div>
 
    {% empty %}
    <div class="card text-center" style="background-color: #403434;" >
      <h2>No venues found</h2>
    </div>
    {% endfor %}

    </div>

</div>

{% endblock %}
