
{% extends 'lmn/base.html' %} <!-- Connects this hmtl with base.html  -->
{% block content %} <!-- Begin content block.  -->

<h2>Add photos of {photo.artist.name} at {photo.venue.name} here!</h2> <!-- Instructional header -->

<form method="POST" action="{% url 'add_photo' show_pk=show.pk %}"> <!-- Posts to add_photo url.  -->
    <div>
        {% csrf_token %}
        {{ form.as_p }} <!-- Displays photos_form -->
        <button id='add_photo' type="submit">Add Photo</button> <!-- Button initiates photo save action. -->
    </div>
</form>

{% endblock %} <!-- Ends content block. -->
