{% extends 'lmn/base.html' %} <!-- Connects this hmtl with base.html  -->
{% load static %}
{% block content %} <!-- Begin content block.  -->

<h2 id="photo-detail-title">
    Photos of {{ photo.show.artist.name }} at {{photo.show.venue.name}} taken by 
    <a class='user' href="{% url 'user_profile' user_pk=photo.user.pk %}">{{ photo.user.username }}</a> 
    on {{ photo.date_taken }}
</h2>

{% if photo.photo %}
    <img src="{{ photo.photo.url }}">
{% else %}
    <p>No photos. Be the first to add a photo!</p>
{% endif %} 

<h2 id="add-photo-title">Add photos of {{ photo.show.artist.name }} at {{photo.show.venue.name}}  here!</h2> <!-- Instructional header -->

<form action="{% url 'add_photo' show_pk=show.pk %}" method="POST" enctype="multipart/form-data"> <!-- Posts to add_photo  -->
    <div>
        {% csrf_token %}
        {{ form.as_p }} <!-- Displays photos_form -->
        <button id='add_photo' type="submit">Add Photo</button> <!-- Button initiates photo save action. -->
    </div>
</form>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

{% endblock %} <!-- Ends content block. -->
